@import "../vendor/sui/semantic.min.css";
@import "almost-flat/uikit";

/* theme: Almost Flat */

//
// Typography
//

@base-body-font-family: "Asap";
@base-heading-font-family: "Asap";

@global-link-color: #cc6788;
@global-link-hover-color: #e7aeab;

//
// Buttons, Navs & Badges
//

@global-primary-background: #cc6788;

//
// Base
//

@base-selection-background: #cc6788;

//
// Block
//

@block-primary-background: #cc6788;

//
// Button
//

@button-primary-hover-background: #e76992;
@button-primary-active-background: #a24f6a;

//
// Icon
//

@icon-font-path: "../fonts";

.uk-close::after {
    font-family: Icons;
}