@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400);
@import "../vendor/sui/semantic.min.css";
@import "almost-flat/uikit";
@import "controls/list";
@import "controls/loadindicator";
@import "controls/forms";
@import "controls/fonts";


/* theme: Almost Flat */

//
// Typography
//

@base-body-font-family: 'Open Sans', serif;
@base-heading-font-family: 'Open Sans', serif;

@global-link-color: #cc6788;
@global-link-hover-color: #e7aeab;

//
// Buttons, Navs & Badges
//

@global-primary-background: #cc6788;

//
// Base
//

@base-selection-background: #cc6788;

//
// Block
//

@block-primary-background: #cc6788;

//
// Button
//

@button-primary-hover-background: #e76992;
@button-primary-active-background: #a24f6a;

//
// Icon
//

@icon-font-path: "../fonts";

.uk-close::after {
    font-family: Icons;
}

.uk-slidenav-previous:before {
    font-family: Icons;
}

.uk-slidenav-next:before {
    font-family: Icons;
}
.uk-navbar-toggle:after {
    font-family: Icons;
}
.uk-tab-responsive > a::before {
    font-family: Icons;
}