.themeprimary {
    color: #CC6788 !important
}

.themesecondary {
    color: #8cc474 !important
}

.themethirdcolor {
    color: #ffce55 !important
}

.themefourthcolor {
    color: #5db2ff !important
}

.themefifthcolor {
    color: #e75b8d !important
}

.bg-themeprimary {
    background-color: #CC6788 !important
}

.bg-themesecondary {
    background-color: #8cc474 !important
}

.bg-themethirdcolor {
    background-color: #ffce55 !important
}

.bg-themefourthcolor {
    background-color: #5db2ff !important
}

.bg-themefifthcolor {
    background-color: #e75b8d !important
}

.before-themeprimary:before {
    background-color: #CC6788 !important
}

.before-themesecondary:before {
    background-color: #8cc474 !important
}

.before-themethirdcolor:before {
    background-color: #ffce55 !important
}

.before-themefourthcolor:before {
    background-color: #5db2ff !important
}

.before-themefifthcolor:before {
    background-color: #e75b8d !important
}

.bordered-themeprimary {
    border-color: #CC6788 !important
}

.bordered-themesecondary {
    border-color: #8cc474 !important
}

.bordered-themethirdcolor {
    border-color: #ffce55 !important
}

.bordered-themefourthcolor {
    border-color: #5db2ff !important
}

.bordered-themefifthcolor {
    border-color: #e75b8d !important
}

h1.row-title:before, h2.row-title:before, h3.row-title:before, h4.row-title:before, h5.row-title:before, h6.row-title:before {
    background-color: #CC6788
}

.widget:hover .compact i {
    color: #CC6788
}

.widget-buttons.compact:hover {
    background-color: #CC6788
}

.widget-buttons.compact:hover i {
    color: #fff !important
}

.widget-buttons.compact:before {
    background-color: #CC6788
}
.page-chatbar .chatbar-contacts .contacts-search .searchicon {
    color: #CC6788
}

.page-chatbar .chatbar-messages .messages-contact .back i {
    color: #CC6788
}
