
.home .intro.uk-block {
    text-align: center;
}
.intro.slider.uk-block .pager.block, 
.intro.slider.uk-block .slide {
    height: 300px;
}
.tab-pager {
    list-style: none;
}
.tab-pager li {
    float: none;
    position: relative;
    margin-bottom: -1px;
}
.tab-pager > li > a {
    display: block;
    line-height: 40px;
    padding: 0 0 0 15px;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 !important;
    border-left: 1px solid #fff;
    border-radius: 0 !important;
    text-align: left;
    text-shadow: none;
}
.tab-pager > li > a .icon {
  margin-right: 10px !important;
  opacity: 0.8 !important;
}

.tab-pager > li.uk-active > a {
  border: 1px solid #fff;
  border-left: none;
  color: #fff;
}

.tab-pager > li > a:hover,
.tab-pager > li.uk-active > a:hover {
    color: #fff;
    text-decoration: none;
}

.tab-pager:after, 
.tab-pager:before {
  content: "";
  display: block;
  border-left: 1px solid #fff;
  height: 30px;
  visibility: visible;
}

@media (max-width: 991px) {
    .intro.uk-block .main.container {
        padding-top: 70px;
    }
    .tab-pager > li > a {
        text-align: center;
        width: 50px;
        padding: 0;
        font-size: 14px;
    }
    .tab-pager > li > a .icon {
        margin: 0;
    }
    .tab-pager > li > a span {
        display: none;
    }
}

@media (max-width: 767px) {
    .intro.uk-block .main.container {
        padding-top: 0px;
    }

    .tab-pager:before, 
    .tab-pager:after {
        display: none;
    }
    .tab-pager > li > a {
        text-align: center;
        width: 35px;
        line-height: 30px;
        padding: 0;
    }
    .ui.pager.menu active.item {
        padding-left: 0 !important;
    }
    .tab-pager > li > a .icon {
        margin: 0;
    }
    .tab-pager > li > a span {
        display: none;
    }
}
.uk-switcher > .slide {
    display: none;
}
.uk-switcher > .slide.uk-active {
    display: block;
    height: 300px;
}



.home .intro.uk-block  .title {
    color: #000000;
    font-family: Tahoma, Segoe UI, Arial, sans-serif;
    color: white;
    text-shadow: 0 0 3px grey;
    font-size: 27px;
    font-weight: 500;
    margin-top: 10px;
}

.home .intro.uk-block .ui.header > .content,
.home .intro.uk-block .ui.header > .content .sub.header {
    color: #FFFFFF !important;
}

.home .intro.uk-block  .welcome-notes .header .icon.bordered {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: solid 1.5px #FFFFFF;
    padding: 10px 3px 3px;
    box-shadow: none;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 767px) {
    .intro.uk-block {
        min-height: 400px;
    }
    .intro.uk-block + .content.uk-block {
        margin-top: 347px;
    }
}