@import url('components/helpers.css');
@import url('components/base.css');
@import url('components/tabs.css');
@import url('components/widgets.css');
@import url('skins/pink.css');

html {
  background: none;
}

body.pushable {
  background: #CC6788 url(../img/backgrounds/ambientpink.jpg) 50% 50% no-repeat fixed !important;
  background-size: cover !important;
}

body.pushable > .pusher {
    background: url(../img/texture/dotswhite_bg.png) 50% 0 repeat fixed !important;
}

/* BOXED LAYOUT
-------------------------------------------------- */
.boxed-wrapper {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .boxed-wrapper {
    max-width: 805px;
  }
  .boxed-wrapper .container {
    max-width: 750px !important;
    width: auto !important;
  }
  .boxed-wrapper .nav-main {
    max-width: 805px;
  }
}
@media (min-width: 992px) {
  .boxed-wrapper {
    max-width: 1025px;
  }
  .boxed-wrapper .nav-main {
    max-width: 1025px;
  }
  .boxed-wrapper .container {
    max-width: 970px !important;
    width: auto !important;
  }
}
@media (min-width: 1200px) {
  .boxed-wrapper {
    max-width: 1225px;
  }
  .boxed-wrapper .nav-main {
    max-width: 1225px;
  }
  .boxed-wrapper .container {
    max-width: 1170px !important;
    width: auto !important;
  }
}

.full.height {
  height: 100%;
  min-height: 100% !important;
}

.dark.overlay, 
.light.overlay {
  position: relative;
  z-index: 100;
}

.content.uk-block,
.footer.uk-block {
  position: relative;
  z-index: 200;
}
.navbar.fixed.block {
  position: relative;
  z-index: 300;
}

.navbar.block.segment {
  margin: 0px -1px;
  width: calc(100% + 2px);
  max-width: calc(100% + 2px);
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: url("../img/backgrounds/headerbar.png") repeat scroll 50% 0px, 
              url("../img/backgrounds/concert_img.jpg") repeat scroll 50% 0px, 
              #1B0D19;
  box-shadow: none;
  padding: 0;
}

.navbar.block .ui.menu .item {
  color: #897B88;
  font-weight: 600;
}

/* Hover */
.navbar .secondary.menu .dropdown.item:hover,
.navbar .secondary.menu .link.item:hover,
.navbar .secondary.menu a.item:hover {
  background: #191919;
  background: rgba(0,0,0,0.15);
  box-shadow: 1px 0 0 rgba(255,255,255,0.04),
        -1px 0 0 rgba(255,255,255,0.04),
        inset 0 0 5px rgba(0,0,0,0.08);
  color: #fff;
}

/* Active */
.navbar .secondary.menu .active.item {
  box-shadow: none;
  background: rgba(0,0,0,0.15);
  color: #fff;
  border-radius: 0.28571429rem;
}

/* Active Hover */
.navbar .secondary.menu .active.item:hover {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.05);
  color: #fff;
}

.intro.uk-block {
  background: #1b0d19 url("../img/backgrounds/concert_img.jpg") 50% 0 repeat;
  background-size: cover;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
  .intro.uk-block,
  .fixed.navbar.block.segment {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .intro.uk-block {
    min-height: 250px;
    z-index: 0;
  }
  .navbar.block + .pusher {
    margin-top: 53px;
  }
  .intro.uk-block .block.container {
    margin-top: 30px;
  }

  .intro.uk-block + .content.uk-block {
    margin-top: 197px;
  }
}

.ui.container {
    max-width: 950px !important;
}

@media only screen and (max-width: 767px) {
    .ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.ui.table thead th {
    padding: 0.5em 1em;
}

#main-container {

}

.ui.main.menu {
    height: 37px;
    line-height: 37px;
    color: #ddd;
    text-shadow: 0 -1px black;
    background: #243942;
    z-index: 10000;
    border-bottom: 1px solid #191919;
    background-image: -webkit-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
    background-image: -moz-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
    background-image: -o-linear-gradient(top, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
    background-image: linear-gradient(to bottom, #243942, #22373f 50%, #1d2e35 50%, #1b2b32);
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.1), 0 0 3px rgba(0, 0, 0, 0.8);
}

.ui.text.main.menu a {
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    -webkit-transition-property: background, color;
    -moz-transition-property: background, color;
    -o-transition-property: background, color;
    transition-property: background, color;
}

.ui.main.menu .item {
    padding: 0.15em 1.14286em;
}

.ui.main.menu .header.item a {
    display: block;
    padding: 0 15px;
    font-size: 16px;
    color: #eee;
    text-decoration: none;
}

.ui.main.menu .header.item a:hover {
    color: white;
}
.redactor-toolbar,
.uk-active[data-uk-sticky] {
    z-index: 98;
}
.navbar.fixed {
    z-index: 120;
    max-height: 57px;
}
