
input[type=checkbox], input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -9999px;
    z-index: 12;
    width: 18px;
    height: 18px;
    cursor: pointer
}

input[type=checkbox].inverted:checked ~ .text:before, input[type=radio].inverted:checked ~ .text:before {
    background-color: #333;
    border-color: #333;
    color: #fff
}

input[type=checkbox].colored-white ~ .text, input[type=radio].colored-white ~ .text {
    color: #fff
}

input[type=checkbox].colored-white ~ .text:before, input[type=radio].colored-white ~ .text:before {
    border-color: #fafafa
}

input[type=checkbox].colored-white:checked ~ .text, input[type=radio].colored-white:checked ~ .text {
    color: #fff
}

input[type=checkbox].colored-white:checked ~ .text:before, input[type=radio].colored-white:checked ~ .text:before {
    border-color: #333;
    color: #333
}

input[type=checkbox].colored-blue:checked ~ .text, input[type=radio].colored-blue:checked ~ .text {
    color: #5db2ff
}

input[type=checkbox].colored-blue:checked ~ .text:before, input[type=radio].colored-blue:checked ~ .text:before {
    border-color: #5db2ff;
    color: #5db2ff
}

input[type=checkbox].colored-primary:checked ~ .text, input[type=radio].colored-primary:checked ~ .text {
    color: #4374e0
}

input[type=checkbox].colored-primary:checked ~ .text:before, input[type=radio].colored-primary:checked ~ .text:before {
    border-color: #4374e0;
    color: #4374e0
}

input[type=checkbox].colored-danger:checked ~ .text, input[type=radio].colored-danger:checked ~ .text {
    color: #d73d32
}

input[type=checkbox].colored-danger:checked ~ .text:before, input[type=radio].colored-danger:checked ~ .text:before {
    border-color: #d73d32;
    color: #d73d32
}

input[type=checkbox].colored-success:checked ~ .text, input[type=radio].colored-success:checked ~ .text {
    color: #53a93f
}

input[type=checkbox].colored-success:checked ~ .text:before, input[type=radio].colored-success:checked ~ .text:before {
    border-color: #53a93f;
    color: #53a93f
}

input[type=checkbox].colored-warning:checked ~ .text, input[type=radio].colored-warning:checked ~ .text {
    color: #f4b400
}

input[type=checkbox].colored-warning:checked ~ .text:before, input[type=radio].colored-warning:checked ~ .text:before {
    border-color: #f4b400;
    color: #f4b400
}

input[type=checkbox].colored-silver:checked ~ .text, input[type=radio].colored-silver:checked ~ .text {
    color: #777
}

input[type=checkbox].colored-silver:checked ~ .text:before, input[type=radio].colored-silver:checked ~ .text:before {
    border-color: #777;
    color: #777
}

input[type=checkbox].colored-blueberry:checked ~ .text, input[type=radio].colored-blueberry:checked ~ .text {
    color: #6f85bf
}

input[type=checkbox].colored-blueberry:checked ~ .text:before, input[type=radio].colored-blueberry:checked ~ .text:before {
    border-color: #6f85bf;
    color: #6f85bf
}

input[type=checkbox].colored-palegreen:checked ~ .text, input[type=radio].colored-palegreen:checked ~ .text {
    color: #a0d468
}

input[type=checkbox].colored-palegreen:checked ~ .text:before, input[type=radio].colored-palegreen:checked ~ .text:before {
    border-color: #a0d468;
    color: #a0d468
}

input[type=checkbox].colored-orange:checked ~ .text, input[type=radio].colored-orange:checked ~ .text {
    color: #fb6e52
}

input[type=checkbox].colored-orange:checked ~ .text:before, input[type=radio].colored-orange:checked ~ .text:before {
    border-color: #fb6e52;
    color: #fb6e52
}

input[type=checkbox].colored-darkorange:checked ~ .text, input[type=radio].colored-darkorange:checked ~ .text {
    color: #ed4e2a
}

input[type=checkbox].colored-darkorange:checked ~ .text:before, input[type=radio].colored-darkorange:checked ~ .text:before {
    border-color: #ed4e2a;
    color: #ed4e2a
}

input[type=checkbox].colored-magenta:checked ~ .text, input[type=radio].colored-magenta:checked ~ .text {
    color: #bc5679
}

input[type=checkbox].colored-magenta:checked ~ .text:before, input[type=radio].colored-magenta:checked ~ .text:before {
    border-color: #bc5679;
    color: #bc5679
}

input[type=checkbox].colored-purple:checked ~ .text, input[type=radio].colored-purple:checked ~ .text {
    color: #7e3794
}

input[type=checkbox].colored-purple:checked ~ .text:before, input[type=radio].colored-purple:checked ~ .text:before {
    border-color: #7e3794;
    color: #7e3794
}

input[type=checkbox].colored-maroon:checked ~ .text, input[type=radio].colored-maroon:checked ~ .text {
    color: #981b48
}

input[type=checkbox].colored-maroon:checked ~ .text:before, input[type=radio].colored-maroon:checked ~ .text:before {
    border-color: #981b48;
    color: #981b48
}

input[type=checkbox]:checked, input[type=radio]:checked, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none !important
}

input[type=checkbox]:checked ~ .text:before, input[type=radio]:checked ~ .text:before {
    display: inline-block;
    content: '';
    background-color: #f5f8fc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    border-color: #333
}

input[type=checkbox]:hover ~ .text :before, input[type=radio]:hover ~ .text :before {
    border-color: #737373
}

input[type=checkbox]:active ~ .text :before, input[type=radio]:active ~ .text :before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

input[type=checkbox]:disabled ~ .text, input[type=radio]:disabled ~ .text, input[type=checkbox][disabled] ~ .text, input[type=radio][disabled] ~ .text, input[type=checkbox].disabled ~ .text, input[type=radio].disabled ~ .text {
    color: rgba(0, 0, 0, .4)
}

input[type=checkbox]:disabled ~ .text:before, input[type=radio]:disabled ~ .text:before, input[type=checkbox][disabled] ~ .text:before, input[type=radio][disabled] ~ .text:before, input[type=checkbox].disabled ~ .text:before, input[type=radio].disabled ~ .text:before {
    background-color: #f5f5f5 !important;
    border-color: #e5e5e5 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #e5e5e5
}

input[type=checkbox] ~ .text, input[type=radio] ~ .text {
    position: relative;
    z-index: 11;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal
}

input[type=checkbox] ~ .text:before, input[type=radio] ~ .text:before {
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 13px;
    color: #333;
    content: " ";
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 18px;
    line-height: 16px;
    min-width: 18px;
    margin-right: 5px;
    margin-bottom: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox] ~ .text:hover:before, input[type=radio] ~ .text:hover:before {
    border-color: #737373
}

input[type=checkbox] ~ .text:active:before, input[type=radio] ~ .text:active:before {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1)
}

input[type=radio] ~ .text:before {
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    line-height: 17px;
    height: 19px;
    min-width: 19px
}

input[type=radio]:checked ~ .text:before {
    content: ""
}

.radio label, .checkbox label {
    padding-left: 0
}

input[type=checkbox].checkbox-slider {
    width: 55px;
    height: 25px;
    left: 0
}

input[type=checkbox].checkbox-slider.slider-icon:checked ~ .text:after {
    font-family: FontAwesome;
    font-size: 15px;
    line-height: 21px;
    content: "";
    border-width: 1px;
    padding-left: 3px;
    background-color: #fff;
    color: #444
}

input[type=checkbox].checkbox-slider.slider-icon ~ .text:after {
    font-family: FontAwesome;
    font-size: 14px;
    line-height: 20px;
    content: "";
    border-width: 1px;
    padding-left: 4px;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.toggle:checked ~ .text:after {
    background-color: #fff;
    color: #444
}

input[type=checkbox].checkbox-slider.toggle ~ .text:after {
    border: 0;
    background-color: #444;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

input[type=checkbox].checkbox-slider.yesno ~ .text:before {
    font-family: 'Open Sans', 'Segoe UI';
    content: "YES            NO"
}

input[type=checkbox].checkbox-slider ~ .text {
    margin: 0 4px;
    min-height: 24px
}

input[type=checkbox].checkbox-slider ~ .text:before {
    font-family: 'Open Sans', 'Segoe UI';
    content: "ON           OFF";
    background-color: #fff;
    color: #999;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    height: 20px;
    overflow: hidden;
    border-radius: 50rem;
    border: 1px solid #ccc;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

input[type=checkbox].checkbox-slider ~ .text:after {
    font-family: 'Open Sans', 'Segoe UI';
    content: '';
    font-size: 10px;
    font-weight: 300;
    background-color: #fff;
    border: 5px solid #444;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: -3px;
    padding: 0;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

input[type=checkbox].checkbox-slider:checked ~ .text:before {
    text-indent: 5px;
    background-color: #444;
    border-color: #444;
    color: #fff
}

input[type=checkbox].checkbox-slider:checked ~ .text:after {
    left: 34px;
    background-color: #444;
    border: 5px solid #fff
}

input[type=checkbox].checkbox-slider.colored-blue ~ .text:after {
    border-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue:checked ~ .text:before {
    background-color: #5db2ff;
    border-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue:checked ~ .text:after {
    background-color: #5db2ff;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blue.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue.slider-icon ~ .text:after {
    border-color: #fff;
    color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-blue.toggle:checked ~ .text:after {
    color: #5db2ff;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blue.toggle ~ .text:after {
    background-color: #5db2ff
}

input[type=checkbox].checkbox-slider.colored-primary ~ .text:after {
    border-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary:checked ~ .text:before {
    background-color: #4374e0;
    border-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary:checked ~ .text:after {
    background-color: #4374e0;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-primary.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary.slider-icon ~ .text:after {
    border-color: #fff;
    color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-primary.toggle:checked ~ .text:after {
    color: #4374e0;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-primary.toggle ~ .text:after {
    background-color: #4374e0
}

input[type=checkbox].checkbox-slider.colored-danger ~ .text:after {
    border-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger:checked ~ .text:before {
    background-color: #d73d32;
    border-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger:checked ~ .text:after {
    background-color: #d73d32;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-danger.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger.slider-icon ~ .text:after {
    border-color: #fff;
    color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-danger.toggle:checked ~ .text:after {
    color: #d73d32;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-danger.toggle ~ .text:after {
    background-color: #d73d32
}

input[type=checkbox].checkbox-slider.colored-success ~ .text:after {
    border-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success:checked ~ .text:before {
    background-color: #53a93f;
    border-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success:checked ~ .text:after {
    background-color: #53a93f;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-success.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success.slider-icon ~ .text:after {
    border-color: #fff;
    color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-success.toggle:checked ~ .text:after {
    color: #53a93f;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-success.toggle ~ .text:after {
    background-color: #53a93f
}

input[type=checkbox].checkbox-slider.colored-warning ~ .text:after {
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning:checked ~ .text:before {
    background-color: #f4b400;
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning:checked ~ .text:after {
    background-color: #f4b400;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-warning.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning.slider-icon ~ .text:after {
    border-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-warning.toggle:checked ~ .text:after {
    color: #f4b400;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-warning.toggle ~ .text:after {
    background-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver ~ .text:after {
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver:checked ~ .text:before {
    background-color: #f4b400;
    border-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver:checked ~ .text:after {
    background-color: #f4b400;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-silver.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver.slider-icon ~ .text:after {
    border-color: #fff;
    color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-silver.toggle:checked ~ .text:after {
    color: #f4b400;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-silver.toggle ~ .text:after {
    background-color: #f4b400
}

input[type=checkbox].checkbox-slider.colored-blueberry ~ .text:after {
    border-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry:checked ~ .text:before {
    background-color: #6f85bf;
    border-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry:checked ~ .text:after {
    background-color: #6f85bf;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blueberry.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry.slider-icon ~ .text:after {
    border-color: #fff;
    color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-blueberry.toggle:checked ~ .text:after {
    color: #6f85bf;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-blueberry.toggle ~ .text:after {
    background-color: #6f85bf
}

input[type=checkbox].checkbox-slider.colored-palegreen ~ .text:after {
    border-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen:checked ~ .text:before {
    background-color: #a0d468;
    border-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen:checked ~ .text:after {
    background-color: #a0d468;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-palegreen.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen.slider-icon ~ .text:after {
    border-color: #fff;
    color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-palegreen.toggle:checked ~ .text:after {
    color: #a0d468;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-palegreen.toggle ~ .text:after {
    background-color: #a0d468
}

input[type=checkbox].checkbox-slider.colored-orange ~ .text:after {
    border-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange:checked ~ .text:before {
    background-color: #fb6e52;
    border-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange:checked ~ .text:after {
    background-color: #fb6e52;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-orange.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange.slider-icon ~ .text:after {
    border-color: #fff;
    color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-orange.toggle:checked ~ .text:after {
    color: #fb6e52;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-orange.toggle ~ .text:after {
    background-color: #fb6e52
}

input[type=checkbox].checkbox-slider.colored-darkorange ~ .text:after {
    border-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange:checked ~ .text:before {
    background-color: #ed4e2a;
    border-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange:checked ~ .text:after {
    background-color: #ed4e2a;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-darkorange.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange.slider-icon ~ .text:after {
    border-color: #fff;
    color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-darkorange.toggle:checked ~ .text:after {
    color: #ed4e2a;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-darkorange.toggle ~ .text:after {
    background-color: #ed4e2a
}

input[type=checkbox].checkbox-slider.colored-magenta ~ .text:after {
    border-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta:checked ~ .text:before {
    background-color: #bc5679;
    border-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta:checked ~ .text:after {
    background-color: #bc5679;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-magenta.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta.slider-icon ~ .text:after {
    border-color: #fff;
    color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-magenta.toggle:checked ~ .text:after {
    color: #bc5679;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-magenta.toggle ~ .text:after {
    background-color: #bc5679
}

input[type=checkbox].checkbox-slider.colored-purple ~ .text:after {
    border-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple:checked ~ .text:before {
    background-color: #7e3794;
    border-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple:checked ~ .text:after {
    background-color: #7e3794;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-purple.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple.slider-icon ~ .text:after {
    border-color: #fff;
    color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-purple.toggle:checked ~ .text:after {
    color: #7e3794;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-purple.toggle ~ .text:after {
    background-color: #7e3794
}

input[type=checkbox].checkbox-slider.colored-maroon ~ .text:after {
    border-color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon:checked ~ .text:before {
    background-color: #981b48;
    border-color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon:checked ~ .text:after {
    background-color: #981b48;
    border-color: #fff
}

input[type=checkbox].checkbox-slider.colored-maroon.slider-icon:checked ~ .text:after {
    background-color: #fff;
    color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon.slider-icon ~ .text:after {
    border-color: #fff;
    color: #981b48
}

input[type=checkbox].checkbox-slider.colored-maroon.toggle:checked ~ .text:after {
    color: #981b48;
    background-color: #fff
}

input[type=checkbox].checkbox-slider.colored-maroon.toggle ~ .text:after {
    background-color: #981b48
}