
.body-404 {
    background-color: #2dc3e8;
    color: #fff
}

.body-404:before {
    display: none
}

.error-header {
    background: #fff;
    height: 280px
}

.error-container {
    background: rgba(0, 0, 0, .05);
    text-align: center
}

.error-container h1 {
    font-size: 110px;
    font-weight: 300;
    margin: -103px 0 0 0;
    text-align: center;
    color: #2dc3e8
}

.error-container h2 {
    font-size: 58px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase
}

.error-container p, .error-container p a {
    font-size: 18px;
    font-weight: 300;
    margin: 0
}

.error-container p.description {
    color: #e5e5e5;
    font-size: 40px;
    margin: 0
}

.error-divider {
    margin-top: -27px;
    padding: 30px 0
}

.return-btn, .return-btn:hover {
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 10px 15px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    color: #fff;
    font-size: 16px;
    font-weight: 300
}

.return-btn i {
    margin-right: 5px
}

.return-btn:hover {
    background: #fff;
    color: #2dc3e8;
    text-decoration: none
}

.body-500 {
    background-color: #fb6e52;
    color: #fff
}

.body-500:before {
    display: none
}

.body-500 .error-container h1 {
    color: #fb6e52
}

.body-500 .return-btn:hover {
    color: #fb6e52
}